<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="false"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- "Real" test RabbitMQ -->
        <var name="rabbitmq_host" value="localhost" />
        <var name="rabbitmq_port" value="5672" />
        <var name="rabbitmq_user" value="guest" />
        <var name="rabbitmq_password" value="guest" />
    </php>

    <filter>
  		<whitelist processUncoveredFilesFromWhitelist="true">
    		<directory suffix=".php">src/</directory>
  		</whitelist>
	</filter>
    <logging>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
